In [7]:
import pandas as pd
car_selling_data={'Brand':['Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],'Year':[2010,2011,2009,2011,2012,2011,2013,2010,2011,2012,2013],'Sold':[6,7,9,8,3,5,2,8,7,2,4]}
df=pd.DataFrame(car_selling_data)
print('\n original DataFrame\n',df)
grouped=df.groupby('Year')
print('\n Group by year:\n',grouped.get_group(2011))

 original DataFrame
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3    Hyundai  2011     8
4    Hyundai  2012     3
5     Toyota  2011     5
6   Mahindra  2013     2
7   Mahindra  2010     8
8       Ford  2011     7
9     Toyota  2012     2
10      Ford  2013     4

 Group by year:
      Brand  Year  Sold
1   Maruti  2011     7
3  Hyundai  2011     8
5   Toyota  2011     5
8     Ford  2011     7

In [4]:
student_data={'Name':['Np','Preetha','Rakesh','Prathap','Raji','Subi','Sachin','Karthiga','Kalai','Ramki'],'Roll_no':[20,25,20,32,69,32,20,35,69,17],'Email':['NP@gmail.com','Preetha@gmail.com','Rakesh@gmail.com','Prathap@gmail.com','Raji@gmail.com','Subi@gmail.com','Sachin@gmail.com','Karthiga@gmail.com','Kalai@gmail.com','Ramki@gmail.com']}
df=pd.DataFrame(student_data)
print('\n Original DataFrame\n',df)
non_duplicate=df[~df.duplicated('Roll_no')]
print('\n Removed dulipcate rows:\n',non_duplicate)

 Original DataFrame
        Name  Roll_no               Email
0        Np       20        NP@gmail.com
1   Preetha       25   Preetha@gmail.com
2    Rakesh       20    Rakesh@gmail.com
3   Prathap       32   Prathap@gmail.com
4      Raji       69      Raji@gmail.com
5      Subi       32      Subi@gmail.com
6    Sachin       20    Sachin@gmail.com
7  Karthiga       35  Karthiga@gmail.com
8     Kalai       69     Kalai@gmail.com
9     Ramki       17     Ramki@gmail.com

 Removed dulipcate rows:
        Name  Roll_no               Email
0        Np       20        NP@gmail.com
1   Preetha       25   Preetha@gmail.com
3   Prathap       32   Prathap@gmail.com
4      Raji       69      Raji@gmail.com
7  Karthiga       35  Karthiga@gmail.com
9     Ramki       17     Ramki@gmail.com

In [6]:
details=pd.DataFrame({'ID':[101,102,103,104,105,106,107,108,109,110],'Name':['Arun','Pavi','Sai','Poo','Ravi','Anu','Jack','Amit','Ria','Savi'],'Branch':['Mech','Mech','ECE','EEE','CSE','EEE','CSE','IT','ECE','CSBS']})
print('Original DataFrame1\n',details)
fees_status=pd.DataFrame({'ID':[101,102,103,104,105,106,107,108,109,110],'Pending':['5000','250','NIL','6500','7200','2800','NIL','300','5010','4520']})
print('Original DataFrame2\n',fees_status)
print('Merged DataFrame\n',pd.merge(details,fees_status,on='ID'))

Original DataFrame1
     ID  Name Branch
0  101  Arun   Mech
1  102  Pavi   Mech
2  103   Sai    ECE
3  104   Poo    EEE
4  105  Ravi    CSE
5  106   Anu    EEE
6  107  Jack    CSE
7  108  Amit     IT
8  109   Ria    ECE
9  110  Savi   CSBS
Original DataFrame2
     ID Pending
0  101    5000
1  102     250
2  103     NIL
3  104    6500
4  105    7200
5  106    2800
6  107     NIL
7  108     300
8  109    5010
9  110    4520
Merged DataFrame
     ID  Name Branch Pending
0  101  Arun   Mech    5000
1  102  Pavi   Mech     250
2  103   Sai    ECE     NIL
3  104   Poo    EEE    6500
4  105  Ravi    CSE    7200
5  106   Anu    EEE    2800
6  107  Jack    CSE     NIL
7  108  Amit     IT     300
8  109   Ria    ECE    5010
9  110  Savi   CSBS    4520