In [2]:
import pandas as pd
data={'Name':['Sai','Yuvasri','Poovanan','Sabharish','Sangamithra','Rithika','Rubasri'],'Age':[20,18,19,20,18,17,19],'Gender':['M','F','M','M','F','F','F'],'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
avg/=c
df=df.replace(to_replace="NaN",value=avg)
print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2     Poovanan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

Replacing NaN with average marks:
           Name  Age Gender  Marks
0          Sai   20      M   90.0
1      Yuvasri   18      F   76.0
2     Poovanan   19      M   75.2
3    Sabharish   20      M   74.0
4  Sangamithra   18      F   65.0
5      Rithika   17      F   75.2
6      Rubasri   19      F   71.0

In [3]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\nFiltering and Dropping func.\n",df)

Filtering and Dropping func.
        Name Gender  Marks
0       Sai      M   90.0
1   Yuvasri      F   76.0
2  Poovanan      M   75.2
5   Rithika      F   75.2

In [5]:
one=pd.DataFrame({'Name':['Sai','sub','Poo','Yuvasri','Rithika'],'Subject_id':['sub1','sub2','sub4','sub6','sub5'],'Marks_scored':[98,95,96,92,88]},index=[1,2,3,4,5])
two=pd.DataFrame({'Name':['Sanjay','Sangamithra','Ruba','Nikesh','Somanath'],'Subject_id':['sub2','sub4','sub3','sub6','sub5'],'Marks_scored':[86,95,87,99,91]},index=[1,2,3,4,5])
print("\nOriginal DataFrame1:\n",one)
print("\nOriginal DataFrame2:\n",two)
print(pd.concat([one,two]))

Original DataFrame1:
       Name Subject_id  Marks_scored
1      Sai       sub1            98
2      sub       sub2            95
3      Poo       sub4            96
4  Yuvasri       sub6            92
5  Rithika       sub5            88

Original DataFrame2:
           Name Subject_id  Marks_scored
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3         Ruba       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91
          Name Subject_id  Marks_scored
1          Sai       sub1            98
2          sub       sub2            95
3          Poo       sub4            96
4      Yuvasri       sub6            92
5      Rithika       sub5            88
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3         Ruba       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91