In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','e','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("/n")
print("Dropped DataFrame\n",df.dropna())
print("/n")

Original DataFrame with Nan
         one       two     three
a -0.361117 -0.841650  0.784901
b       NaN       NaN       NaN
c  0.943670 -0.687608 -0.220757
d       NaN       NaN       NaN
e -0.578786 -0.213829  0.323374
f  0.048437 -0.256097  0.470755
/n
Dropped DataFrame
         one       two     three
a -0.361117 -0.841650  0.784901
c  0.943670 -0.687608 -0.220757
e -0.578786 -0.213829  0.323374
f  0.048437 -0.256097  0.470755
/n

In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a  1.800309 -0.658238 -0.529029
b       NaN       NaN       NaN
c -0.098078 -0.938002  0.270085


NaN replaced with '0':

        one       two     three
a  1.800309 -0.658238 -0.529029
b  0.000000  0.000000  0.000000
c -0.098078 -0.938002  0.270085

In [2]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,90,100]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,8:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50  100

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30   80
3   40   90
4   50  100

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN_with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a  1.120385  0.688046  0.377908
b       NaN       NaN       NaN
c  0.398378 -1.921507 -1.015655
d  0.921517 -0.699460 -0.009526
e       NaN       NaN       NaN
f  1.546860  4.648597  1.014652

 NaN_with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n  NaN_Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         one       two     three
a  1.302556 -0.125830 -1.507065
b       NaN       NaN       NaN
c  1.040650 -0.132073 -0.247143
d  0.668526  0.047270 -1.701502
e       NaN       NaN       NaN
f  0.280216 -0.335370  1.377877

  NaN_Filled with Background values:

        one       two     three
a  1.302556 -0.125830 -1.507065
b  1.040650 -0.132073 -0.247143
c  1.040650 -0.132073 -0.247143
d  0.668526  0.047270 -1.701502
e  0.280216 -0.335370  1.377877
f  0.280216 -0.335370  1.377877

In [6]:
print(df.ffill)
print(df.bfill)

<bound method DataFrame.ffill of         one       two     three
a  1.302556 -0.125830 -1.507065
b       NaN       NaN       NaN
c  1.040650 -0.132073 -0.247143
d  0.668526  0.047270 -1.701502
e       NaN       NaN       NaN
f  0.280216 -0.335370  1.377877>
<bound method DataFrame.bfill of         one       two     three
a  1.302556 -0.125830 -1.507065
b       NaN       NaN       NaN
c  1.040650 -0.132073 -0.247143
d  0.668526  0.047270 -1.701502
e       NaN       NaN       NaN
f  0.280216 -0.335370  1.377877>