In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

#Data grouping and Aggregation: with one column sum
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

Original Dataframe:
       Name category  value  score
0    Alice        A      3     73
1      Bob        B      1     70
2  Charlie        A      4     78
3    Alice        B      1     68
4      Bob        A      1     73
5  Charlie        B      3     69

Group by name and Aggregation with one column:
       Name  value
0    Alice      4
1      Bob      2
2  Charlie      7

In [22]:
#Data grouping and Aggregation: with two column sum
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      4    141
1      Bob      2    143
2  Charlie      7    147

In [3]:
#Data grouping and Aggregation: with one column sum
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      4
1      Bob      2
2  Charlie      7

In [4]:
#Group by 'Name' and calculate multiple aggregations
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       4  2.0   1   3   141  70.5
Bob         2  1.0   1   1   143  71.5
Charlie     7  3.5   3   4   147  73.5

In [6]:
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\n Group and count:\n",df5)

 Group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [7]:
df6=df.groupby(('Name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [9]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  value
0    Alice      3
1      Bob      1
2  Charlie      4

In [10]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
         category  value  score
Name
Alice          A      3     73
Bob            B      1     70
Charlie        A      4     78

In [16]:
df9=df.groupby(('Name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       Name  value
0    Alice      1
1      Bob      1
2  Charlie      3

In [17]:
df10=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
         category  value  score
Name
Alice          B      1     68
Bob            A      1     73
Charlie        B      3     69

In [20]:
df11=df.groupby(('Name'),as_index=False)['value'].size()
print("\n Group and display from size:\n",df11)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [21]:
df12=df.groupby(('Name')).size()
print("\n Group and display from last:\n",df12)

 Group and display from last:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64